In [73]:
import pandas as pd 
import numpy as np

In [74]:
mca = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
mca.shape

(10910, 26)

In [75]:
mca.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [76]:
mca = mca.drop(['Unnamed: 0'], axis = 1)

In [77]:
mca.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

In [78]:
mca = mca.rename(columns={'EmploymentStatus': 'Employment Status',
                         'Number of Open Complaints': 'Number Of Open Complaints',
                         'Number of Policies': 'Number Of Policies'})


mca.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number Of Open Complaints,Number Of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [79]:
mca = mca[['Customer', 'State', 'Gender', 'Marital Status','Education', 'Employment Status', 'Income', 
     'Customer Lifetime Value', 'Response', 'Coverage','Effective To Date','Location Code',  'Monthly Premium Auto',
     'Months Since Last Claim', 'Months Since Policy Inception',
     'Number Of Open Complaints', 'Number Of Policies', 'Policy Type',
     'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
     'Vehicle Class', 'Vehicle Size', 'Vehicle Type']]

mca.head()

,Customer,State,Gender,Marital Status,Education,Employment Status,Income,Customer Lifetime Value,Response,Coverage,Effective To Date,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number Of Open Complaints,Number Of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,M,Married,College,Employed,48029,4809.216960,No,Basic,2/18/11,Suburban,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,F,Single,College,Unemployed,0,2228.525238,No,Basic,1/18/11,Suburban,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,M,Single,Bachelor,Employed,22139,14947.917300,No,Basic,2/10/11,Suburban,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,M,Single,College,Employed,49078,22332.439460,Yes,Extended,1/11/11,Suburban,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,F,Married,Bachelor,Medical Leave,23675,9025.067525,No,Premium,1/17/11,Suburban,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [80]:
mca.dtypes

Customer                          object
State                             object
Gender                            object
Marital Status                    object
Education                         object
Employment Status                 object
Income                             int64
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Effective To Date                 object
Location Code                     object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number Of Open Complaints        float64
Number Of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [81]:
mca._get_numeric_data()

,Income,Customer Lifetime Value,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number Of Open Complaints,Number Of Policies,Total Claim Amount
0,48029,4809.216960,61,7.0,52,0.0,9,292.800000
1,0,2228.525238,64,3.0,26,0.0,1,744.924331
2,22139,14947.917300,100,34.0,31,0.0,2,480.000000
3,49078,22332.439460,97,10.0,3,0.0,2,484.013411
4,23675,9025.067525,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,0,15563.369440,253,NaN,40,NaN,7,1214.400000
10906,61146,5259.444853,65,7.0,68,0.0,6,273.018929
10907,39837,23893.304100,201,11.0,63,0.0,2,381.306996
10908,64195,11971.977650,158,0.0,27,4.0,6,618.288849
10909,0,6857.519928,101,31.0,1,0.0,3,1021.719397

In [82]:
mca.select_dtypes(['object'])

,Customer,State,Gender,Marital Status,Education,Employment Status,Response,Coverage,Effective To Date,Location Code,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,M,Married,College,Employed,No,Basic,2/18/11,Suburban,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,F,Single,College,Unemployed,No,Basic,1/18/11,Suburban,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,M,Single,Bachelor,Employed,No,Basic,2/10/11,Suburban,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,M,Single,College,Employed,Yes,Extended,1/11/11,Suburban,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,F,Married,Bachelor,Medical Leave,No,Premium,1/17/11,Suburban,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,F,Married,Bachelor,Unemployed,No,Premium,1/19/11,Suburban,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,F,Married,College,Employed,No,Basic,1/6/11,Urban,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,F,Married,Bachelor,Employed,No,Extended,2/6/11,Rural,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,F,Divorced,College,Employed,No,Premium,2/13/11,Urban,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,M,Single,Bachelor,Unemployed,NaN,Basic,1/8/11,Suburban,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [83]:
mca.duplicated().sum()
mca = mca.drop_duplicates()
mca.isna().sum()

Customer                            0
State                             614
Gender                              0
Marital Status                      0
Education                           0
Employment Status                   0
Income                              0
Customer Lifetime Value             0
Response                          614
Coverage                            0
Effective To Date                   0
Location Code                       0
Monthly Premium Auto                0
Months Since Last Claim           623
Months Since Policy Inception       0
Number Of Open Complaints         623
Number Of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     608
Vehicle Size                      608
Vehicle Type                     5465
dtype: int64

In [84]:
pd.set_option('display.max_columns', None)

mca[mca['State'].isna() & mca['Response'].isna()] #The ones with no response have no State Assigned. Maybe that is because they coulddn't ask.

mca[(mca['Months Since Last Claim'].isna() & mca['Number Of Open Complaints'].isna())] #The ones with no data about open complaints also have no data for previous complaints, suggesting they are new costumers.

,Customer,State,Gender,Marital Status,Education,Employment Status,Income,Customer Lifetime Value,Response,Coverage,Effective To Date,Location Code,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number Of Open Complaints,Number Of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
4,QA50777,Oregon,F,Married,Bachelor,Medical Leave,23675,9025.067525,No,Premium,1/17/11,Suburban,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
23,NQ71171,California,M,Married,Bachelor,Employed,70174,5107.071054,No,Basic,2/2/11,Rural,64,NaN,80,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
51,FT56968,Arizona,M,Married,High School or Below,Employed,22398,2590.096027,No,Basic,1/3/11,Suburban,67,NaN,76,NaN,1,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large,A
59,EP83939,Arizona,M,Married,High School or Below,Employed,91416,5575.751228,No,Basic,1/26/11,Rural,69,NaN,39,NaN,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN
67,KR35099,Washington,M,Single,College,Employed,60920,7507.455372,Yes,Basic,2/6/11,Urban,64,NaN,61,NaN,2,Personal Auto,Personal L3,Offer2,Agent,231.201886,Two-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,AP56340,Washington,M,Married,Bachelor,Disabled,13103,5384.671725,No,Basic,2/26/11,Suburban,72,NaN,32,NaN,7,Personal Auto,Personal L2,Offer1,Agent,458.003651,Four-Door Car,Medsize,A
10816,AW71157,California,M,Divorced,College,Employed,50097,5531.723723,No,Basic,1/16/11,Rural,71,NaN,81,NaN,5,Personal Auto,Personal L1,Offer3,Web,17.484679,Four-Door Car,Medsize,A
10833,OQ99704,Washington,F,Married,Bachelor,Employed,52801,3981.775889,No,Basic,2/11/11,Urban,100,NaN,78,NaN,1,Personal Auto,Personal L3,Offer2,Branch,475.200880,SUV,Small,A
10834,FU99476,Washington,M,Divorced,High School or Below,Employed,74422,6770.306834,No,Extended,2/22/11,Rural,85,NaN,3,NaN,3,Personal Auto,Personal L1,Offer1,Call Center,95.338505,Four-Door Car,Medsize,A
10905,FE99816,Nevada,F,Married,Bachelor,Unemployed,0,15563.369440,No,Premium,1/19/11,Suburban,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A

In [85]:
mca['Months Since Last Claim'] = mca['Months Since Last Claim'].fillna(0) #We change the values to 0 because if there is no recolection of a previous complaint, it is the same as if you had a 0.
mca['Number Of Open Complaints'] = mca['Number Of Open Complaints'].fillna(0) #We do the same here for the same reason.
mca['Response'] = mca['Response'].fillna('No') #If you don't know if someone responded, they probably didn't, so we change it to "No".
mca.isna().sum()

Customer                            0
State                             614
Gender                              0
Marital Status                      0
Education                           0
Employment Status                   0
Income                              0
Customer Lifetime Value             0
Response                            0
Coverage                            0
Effective To Date                   0
Location Code                       0
Monthly Premium Auto                0
Months Since Last Claim             0
Months Since Policy Inception       0
Number Of Open Complaints           0
Number Of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     608
Vehicle Size                      608
Vehicle Type                     5465
dtype: int64

In [86]:
mca['State'].value_counts()/(len(mca['State']))*100 #We check if there is a vast majority in one state big enough to assume the NAN are from there aswell. We see this is not the case.

California    32.631289
Oregon        26.643981
Arizona       17.787179
Nevada         9.123517
Washington     8.167019
Name: State, dtype: float64

In [87]:
mca['State'] = mca['State'].fillna('Unknown') #We decide to change them to 'Unkown' because we can't know for sure.
mca.isna().sum()

Customer                            0
State                               0
Gender                              0
Marital Status                      0
Education                           0
Employment Status                   0
Income                              0
Customer Lifetime Value             0
Response                            0
Coverage                            0
Effective To Date                   0
Location Code                       0
Monthly Premium Auto                0
Months Since Last Claim             0
Months Since Policy Inception       0
Number Of Open Complaints           0
Number Of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     608
Vehicle Size                      608
Vehicle Type                     5465
dtype: int64

In [88]:
mca['Vehicle Class'].value_counts()/(len(mca['Vehicle Class']))*100 #Since there are so many different types, we will assign "Unkown" to the NaNs.

Four-Door Car    47.824887
Two-Door Car     19.424262
SUV              18.476961
Sports Car        5.040007
Luxury SUV        1.912995
Luxury Car        1.729054
Name: Vehicle Class, dtype: float64

In [89]:
mca['Vehicle Size'].value_counts()/(len(mca['Vehicle Size']))*100 #We will assign "Unkown" to the NaNs for the same reason as before. We think assuming they are Medium just because the majority are is not right.

Medsize    66.522579
Small      18.044698
Large       9.840890
Name: Vehicle Size, dtype: float64

In [90]:
mca['Vehicle Type'].value_counts()/(len(mca['Vehicle Type']))*100 #Since there is only one type, and it is "A", we are assuming this means "Automatic car", and since the data is from the US, we will just assume they are all automatic.

A    49.737883
Name: Vehicle Type, dtype: float64

In [92]:
mca['Vehicle Class'] = mca['Vehicle Class'].fillna('Unknown')
mca['Vehicle Size'] = mca['Vehicle Size'].fillna('Unknown')
mca['Vehicle Type'] = mca['Vehicle Type'].fillna('A')

mca.isna().sum() #As we can see, there are no more NaN values.

Customer                         0
State                            0
Gender                           0
Marital Status                   0
Education                        0
Employment Status                0
Income                           0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Effective To Date                0
Location Code                    0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number Of Open Complaints        0
Number Of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
Vehicle Type                     0
dtype: int64